In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import datetime

df_data = pd.read_excel("/Users/shakhawathossainturag/Downloads/Wholesale_Electricity_Prices_2020.xlsx")
# print(df_data)

# df_data = df_data.set_index("Gewerbe allgemein")
df_data
#df.index =  pd.to_datetime(df.index, errors='ignore')
#df

         dtDate  intHour  dblPrice  dblVolume
0    2020-01-01        1     41.88    20091.8
1    2020-01-01        2     38.60    20929.3
2    2020-01-01        3     36.55    21511.9
3    2020-01-01        4     32.32    22204.0
4    2020-01-01        5     30.85    22229.0
...         ...      ...       ...        ...
8779 2020-12-31       20     59.47    23437.1
8780 2020-12-31       21     56.70    20364.2
8781 2020-12-31       22     52.44    19405.4
8782 2020-12-31       23     51.86    18707.9
8783 2020-12-31       24     52.26    18200.5

[8784 rows x 4 columns]

In [2]:
df_data = df_data[['dtDate', 'intHour','dblPrice']]
df_data

         dtDate  intHour  dblPrice
0    2020-01-01        1     41.88
1    2020-01-01        2     38.60
2    2020-01-01        3     36.55
3    2020-01-01        4     32.32
4    2020-01-01        5     30.85
...         ...      ...       ...
8779 2020-12-31       20     59.47
8780 2020-12-31       21     56.70
8781 2020-12-31       22     52.44
8782 2020-12-31       23     51.86
8783 2020-12-31       24     52.26

[8784 rows x 3 columns]

In [3]:

#df_data["intHour"] = pd.to_datetime(df_data["intHour"])
# df_data.intHour = df_data.intHour.astype('time64[h]')
df_data.intHour = pd.to_timedelta(df_data.intHour, unit='h')

# df_data["intHour"] = str(df_data["intHour"].timedelta(seconds=666))

# df_data['intHour'] = pd.to_datetime(df_data['intHour'], format='%H:%M:%S')
df_data

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

         dtDate         intHour  dblPrice
0    2020-01-01 0 days 01:00:00     41.88
1    2020-01-01 0 days 02:00:00     38.60
2    2020-01-01 0 days 03:00:00     36.55
3    2020-01-01 0 days 04:00:00     32.32
4    2020-01-01 0 days 05:00:00     30.85
...         ...             ...       ...
8779 2020-12-31 0 days 20:00:00     59.47
8780 2020-12-31 0 days 21:00:00     56.70
8781 2020-12-31 0 days 22:00:00     52.44
8782 2020-12-31 0 days 23:00:00     51.86
8783 2020-12-31 1 days 00:00:00     52.26

[8784 rows x 3 columns]

In [4]:
df_data.intHour = df_data.intHour.astype(str)
df_data["intHour"]= df_data["intHour"].str.slice(start = 7)
df_data.intHour =  pd.to_datetime(df_data.intHour, errors='ignore', format="%H:%M:%S").dt.time
df_data
# df_data.dtypes

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/var/folders/3d/5tmbtv_x705103j1f7_ct0dw0000gn/T/ipykernel_5275/961801120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["intHour"]= df_data["intHour"].str.slice(start = 7)

         dtDate   intHour  dblPrice
0    2020-01-01  01:00:00     41.88
1    2020-01-01  02:00:00     38.60
2    2020-01-01  03:00:00     36.55
3    2020-01-01  04:00:00     32.32
4    2020-01-01  05:00:00     30.85
...         ...       ...       ...
8779 2020-12-31  20:00:00     59.47
8780 2020-12-31  21:00:00     56.70
8781 2020-12-31  22:00:00     52.44
8782 2020-12-31  23:00:00     51.86
8783 2020-12-31  00:00:00     52.26

[8784 rows x 3 columns]

In [5]:
df_data.dtypes

dtDate      datetime64[ns]
intHour             object
dblPrice           float64
dtype: object

In [6]:
Electricity_price_pivot = df_data.pivot(index = 'dtDate', columns = 'intHour', values = 'dblPrice')
Electricity_price_pivot

intHour,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
dtDate,,,,,,,,,,,,,,,,,,,,,
2020-01-01,34.85,41.88,38.60,36.55,32.32,30.85,30.14,30.17,30.00,30.65,...,30.04,30.75,32.11,35.98,40.40,44.05,43.15,43.45,40.68,40.27
2020-01-02,24.99,35.40,31.98,30.50,28.79,28.42,28.75,34.16,42.07,44.89,...,44.90,44.06,44.84,44.40,46.05,46.72,45.26,39.32,34.06,32.22
2020-01-03,22.04,21.47,13.04,1.53,0.14,0.85,9.92,24.48,26.68,28.81,...,37.90,38.11,37.91,38.44,40.47,41.35,33.37,28.89,27.70,25.70
2020-01-04,37.95,22.90,15.95,16.63,6.45,3.83,0.12,0.07,19.07,17.49,...,13.74,17.42,20.38,25.08,28.88,32.02,35.35,29.98,34.46,39.75
2020-01-05,30.49,33.10,32.28,31.18,30.10,29.96,29.88,30.38,31.15,32.09,...,35.37,34.44,36.10,40.59,44.68,46.16,44.62,39.50,35.76,36.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,5.91,-6.87,-12.45,-13.38,-19.09,-17.60,-22.16,-33.58,-29.90,-19.79,...,-30.00,-33.06,-29.96,-7.77,-0.58,0.06,0.08,0.10,8.98,10.11
2020-12-28,42.14,4.50,2.75,5.50,5.91,9.09,20.43,35.10,45.27,49.23,...,50.95,51.93,50.60,52.44,56.98,56.95,55.59,49.01,45.60,46.90
2020-12-29,29.18,38.80,39.34,37.87,34.27,34.06,37.26,43.30,49.19,54.25,...,52.41,53.64,54.58,54.60,55.39,53.13,50.84,43.76,39.34,37.83
2020-12-30,37.43,38.05,36.01,32.60,32.01,32.60,36.03,37.51,47.18,53.01,...,54.07,53.95,55.61,56.08,60.00,56.32,53.60,52.38,46.88,43.22
2020-12-31,52.26,38.54,35.00,32.13,29.24,31.67,34.00,33.85,37.97,46.59,...,52.36,53.08,56.54,59.20,61.34,61.08,59.47,56.70,52.44,51.86